<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>

<table>
  <thead>
    <tr>
      <th>Customers</th>
      <th>Districts</th>
      <th>Reference origin</th>
      <th>Districts</th>
      <th>Reference destination</th>
      <th>Driver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= Customer.find(service.Customer_id).name %></td>
        <td><%= District.find(service.districts_id).description %></td>
        <td><%= service.reference_origin %></td>
        <td><%= District.find(service.districts_id_des).description %></td>
        <td><%= service.reference_destination %></td>
        <td><%= User.find(service.Users_id).name %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
