<%= form_for(@favorite) do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :customers_id %><br>
    <%= f.collection_select :customers_id, Customer.all, :id, :name, :selected => @favorite.customers_id  %>
  </div>
  <div class="field">
    <%= f.label :districts_id %><br>
    <%= f.collection_select :districts_id, District.all, :id, :description, :selected => @favorite.districts_id  %>
  </div>
  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_area :reference %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
