<p id="notice"><%= notice %></p>

<h3>
  <strong>Description:</strong>
  <%= @favorite.description %>
</h3>

<h3>
  <strong>Users:</strong>
  <%= Customer.find(@favorite.customers_id).name %>
</h3>

<h3>
  <strong>Districts:</strong>
  <%= District.find(@favorite.districts_id).description %>
</h3>

<h3>
  <strong>Reference:</strong>
  <%= @favorite.reference %>
</h3>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
