<p id="notice"><%= notice %></p>

<h3>
  <strong>Name:</strong>
  <%= @customer.name %>
</h3>

<h3>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</h3>

<h3>
  <strong>Age:</strong>
  <%= @customer.age %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @customer.email %>
</h3>

<h3>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</h3>

<h3>
  <strong>User:</strong>
  <%= @customer.user %>
</h3>

<h3>
  <strong>Password:</strong>
  <%= @customer.password %>
</h3>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
