<section id="content" class="content-subpages">
      <div>
      	<div class="wrap">
        	<div class="col-3 border-2 block-2">
               <h2 class="p3">Servicios</h2>
                <div class="wrap">
                	<%= image_tag("page3-img1.jpg")%>
                    <div class="extra-wrap">
                    	<p class="p4"><a href="#" class="link">Taxi empresarial</a></p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat. </p>
                    </div>
                 </div>   
            </div>
            <div class="col-4 block-2">
                <div class="wrap top-4">
                	<%= image_tag("page3-img2.jpg")%>
                    <div class="extra-wrap">
                    	<p class="p4"><a href="#" class="link">Taxi Remisse</a></p>
                        <p>Adipiscing elitsed nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
						</div>
                 </div>   
            </div>
        </div>
        <div class="wrap top-5">
        	<div class="col-1 border-2">
            	<h2 class="p3">Rutas Polulares</h2>
                <div class="wrap block-3">
                	<div class="wrap">
                        <%= image_tag("page3-img3.jpg")%>
                        <div class="extra-wrap">
                            <p class="p4"><a href="#" class="link">San Isidro</a></p>
                            <p>Sit amet, consectetuer adipiscing elitsed diam nonummy nibh.</p>
                        </div>
                     </div>
                     <div class="wrap last">
                        <%= image_tag("page3-img4.jpg")%>
                        <div class="extra-wrap">
                            <p class="p4"><a href="#" class="link">La Molina</a></p>
                            <p>Sit amet, consectetuer adipiscing elitsed diam nonummy nibh.</p>
                        </div>
                     </div>
                 </div>  
                 <div class="wrap block-3 top-6">  
                     <div class="wrap">
                        <%= image_tag("page3-img5.jpg")%>
                        <div class="extra-wrap">
                            <p class="p4"><a href="#" class="link">Plaza San Miguel</a></p>
                            <p>Sit amet, consectetuer adipiscing elitsed diam nonummy nibh.</p>
                        </div>
                     </div>
                     <div class="wrap last">
                        <%= image_tag("page3-img6.jpg")%>
                        <div class="extra-wrap">
                            <p class="p4"><a href="#" class="link">San Borja</a></p>
                            <p>Sit amet, consectetuer adipiscing elitsed diam nonummy nibh.</p>
                        </div>
                     </div>
                </div>
                <a href="#" class="button-1 top-2">View All</a>
            </div>
            <div class="">
            	<h2 class="p2">Cartera de clientes</h2>
                <ul class="list-1">
                    <li><a href="#">Banco internacional</a></li>
                    <li><a href="#">Graña y Montero</a></li>
                    <li><a href="#">Interbank</a></li>
                    <li><a href="#">Centro empresarial</a></li>
                    <li><a href="#">UPC</a></li>
                </ul>
                <a href="#" class="button-1 top-3">Leer mas</a>
            </div>    
        </div>
      </div>
  </section> 